
<div class="box-content row">
<div class="row ng-scope">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-edit"></i> Add Inventory</h2>

                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                </div>
            </div>
            <div class="box-content">
                <form role="form">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Entry Number</label>
                        <input type="text" class="form-control" id="exampleInputtext1" placeholder="Enter Number">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" class="form-control" id="exampleInputtext1" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Bill Number</label>
                        <input type="text" class="form-control" id="exampleInputtext1" placeholder="Bill Number">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Purchase Date</label>
                        <input type="text" class="form-control" id="exampleInputtext1" placeholder="Purchase Date">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">MFD</label>
                        <input type="text" class="form-control" id="exampleInputtext1" placeholder="MFD">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">EXP</label>
                        <input type="text" class="form-control" id="exampleInputtext1" placeholder="EXP">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Rate</label>
                        <input type="text" class="form-control" id="exampleInputtext1" placeholder="Rate">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Quantity</label>
                        <input type="text" class="form-control" id="exampleInputtext1" placeholder="Quantity">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Quantity</label>
                        <input type="text" class="form-control" id="exampleInputtext1" placeholder="Quantity">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Quantity</label>
                        <input type="text" class="form-control" id="exampleInputtext1" placeholder="Quantity">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Total</label>
                        <input type="text" class="form-control" id="exampleInputtext1" placeholder="Total">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">MRP</label>
                        <input type="text" class="form-control" id="exampleInputtext1" placeholder="MRP">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Storage Place</label>
                        <input type="text" class="form-control" id="exampleInputtext1" placeholder="Storage Place">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Remark</label>
                        <input type="text" class="form-control" id="exampleInputtext1" placeholder="Remark">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Purchase From</label>
                        <input type="text" class="form-control" id="exampleInputtext1" placeholder="Purchase From">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Symptom</label>
                        <input type="text" class="form-control" id="exampleInputtext1" placeholder="Symptom">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>

            </div>
        </div>
    </div>
    <!--/span-->

</div>
<div>