<div class="col-sm-2 col-lg-2">
                <div class="sidebar-nav">
                    <div class="nav-canvas">
                        <div class="nav-sm nav nav-stacked">

                        </div>
                        <ul class="nav nav-pills nav-stacked main-menu">
                            <li class="nav-header">Main</li>
                            <li><a class="ajax-link" href="#/"><i class="glyphicon glyphicon-home"></i><span> Dashboard</span></a>
                            </li>
                            <li><a class="ajax-link" href="#/inventory"><i class="glyphicon glyphicon-eye-open"></i><span> Inventory</span></a>
                            </li>
                            <li><a class="ajax-link" href="#/billing"><i class="glyphicon glyphicon-picture"></i><span> Billing</span></a>
                            </li>
                            <li><a class="ajax-link" href="#/sales"><i class="glyphicon glyphicon-list-alt"></i><span> Sales</span></a>
                            </li>
                            <li><a class="ajax-link" href="#/reports"><i class="glyphicon glyphicon-eye-open"></i><span> Reports</span></a>
                            </li>
                            <!-- <li><a class="ajax-link" href="#/forms"><i
                                        class="glyphicon glyphicon-edit"></i><span> Forms</span></a></li>
                            <li><a class="ajax-link" href="#/filter"><i class="glyphicon glyphicon-list-alt"></i><span> Filter</span></a>
                            </li>
                            <li><a class="ajax-link" href="#/filter_"><i class="glyphicon glyphicon-font"></i><span> Filter_</span></a>
                            </li>
                            <li><a class="ajax-link" href="#/filter2"><i class="glyphicon glyphicon-picture"></i><span> Filter2</span></a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>