<div class="box-content row">
<div class="row ng-scope">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-edit"></i> Home Page</h2>

                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                </div>
            </div>
            <div class="box-content row">
				<div class="col-lg-7 col-md-12">
					<h1>Doctor Tool<br>
						<small>Pharmacy Tool - Home Page</small>
					</h1>
					<p>It's a live demo of the template. I have created Charisma to ease the repeat work I have to do on my
						projects. Now I re-use Charisma as a base for my admin panel work and I am sharing it with you
						:)</p>
				</div>
				</div>
        </div>
    </div>
    <!--/span-->

</div>
<div>